*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    margin: 20px auto;
    height: 95vh;
    width: 95vw;
    border: 5px solid black;
    background-color: lightblue;


    display: grid;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                         "nav1 main nav3"    
                         "nav2 main nav3"    
                         "footer footer footer";

}
.header{
    background-color: lightgoldenrodyellow;
    grid-area: header;
    /* grid-column-start: 1;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end: 2; */
}

.nav1{
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; */
    background-color: orange;
    grid-area: nav1;
}

.nav2{
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; */
    background-color: blue;
    grid-area: nav2;
}
.main{
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4; */
    background-color: aquamarine;
    grid-area: main;
}
.nav3{
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:4 ; */
    background-color: palegreen;
    grid-area: nav3;
}
.footer{
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; */
    background-color: orchid;
    grid-area: footer;
}